
body {
    background: url("../images/back.png");
}


/* ----- text文本样式 ---------- */
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 1px !important;
}
.m-text-lined {
    line-height: 1.8 !important;
}
.m-opacity-mini {
    opacity: 0.8;
}
.m-opacity-tiny {
    opacity: 0.6;
}
/* ---------------------------------------------- */

/* display 显示的配置  --------------------*/
.m-inline-block {
    display: inline-block !important;
}
.m-container {
    max-width: 75em !important;
    margin: auto !important;
}
.m-container-small {
    max-width: 65em !important;
    margin: auto !important;
}
.m-image-size-square {
    width: 300px;
    height: 130px;
}

/* ---------------------------------------------- */

/* --------- 位置配置 ---------------------- */
.m-right-top {
    position: absolute;
    top: 16px;
    right: 0;
}
/* ---------------------------------------------- */




/*--------------- padding 配置 --------------------*/
.m-padded-all-mini {
    padding: 0.3em !important;
}
.m-padded-all {
    padding: 0.8em !important;
}
.m-padded-mini {
     padding-top: 0.2em !important;
     padding-bottom: 0.2em !important;
 }
.m-padded-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}

.m-padded-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}

.m-padded-big {
    padding-top: 3em !important;
    padding-bottom: 2em !important;
}

.m-padded-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}

.m-padded-massive{
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

.m-padded-left-right {
    padding-left: 2em;
    padding-right: 2em;
}
.m-padded-left-right-responsive {
    padding-left: 2em;
    padding-right: 2em;
}

/* ---------------------------------------------- */

/*------------ margin 配置 -------------------- */
.m-margin-small {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-top-small {
    margin-top: 0.5em !important;
}
.m-margin-top {
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}
.m-margin-left-small {
    margin-left: 1em !important;
}
.m-margin-right-small {
    margin-right: 1em !important;
}

/* ---------------------------------------------- */

/* ------ color布局 ----------------*/
.m-fixed {
    position: fixed !important;
    z-index: 10 !important;
}
.m-right-bottom {
    bottom: 0 !important;
    right: 0 !important;
}

/* ---------------------------------------------- */



/* ------ color配置 ----------------*/
.m-black {
    color: #333 !important;
}
/* --------------------------------------------- */

.m-mobile-show {
    display: none !important;
}
.m-shadow-small {
    -webkit-box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2) !important;
}

/* ----------- 媒体查询 ----------------------- */
@media screen and (max-width: 768px) {
    .m-mobile-hide {
        display: none !important;
    }
    .m-mobile-show {
        display: block !important;
    }
    .m-padded-left-right-responsive {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .m-mobile-wide {
        width: 100% !important;
    }
    .m-mobile-lr-clear {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

 